@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";

.sebenzaBackground {
    background-image: url("images/sebenzaGost.png");
    height: 10%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
    position: relative;
}

.Portal-btn:hover {
    box-shadow: 1px 1px 5px #888888;
}

.glyph {
    font-size: 50px;
    color: whitesmoke;
}

@media screen and (min-width: 750px) {
    .glyph {
        font-size: 100px;
        color: whitesmoke;
    }
}

.moreButton {
    width: 100%;
    background: rgba(66, 66, 66, 0.7);
    color: white;
    border: 3px solid #81772f;
}

.moreButton:hover {
    background: transparent;
    color: white;
    border: 1px solid #24464a;
}

.Portal {
    background: rgba(69, 150, 151, 0.7);
    border-color: #81772f;
    color: white;
}

.Portal-btn {
    box-shadow: 1px 5px 10px #888888;
    text-align: center;
    border: 3px solid #81772f;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Portal:hover {
    background: transparent;
    color: white;
}

div.fa:hover {
    color: gray;
}

.moreButton2 {
    width: 100%;
    background: rgba(69, 150, 151, 0.8);
    color: white;
    border: 1px solid #24464a;
}

.moreButton2:hover {
    background: rgba(69, 150, 151, 0.5);
    color: white;
    border: 1px solid #24464a;
}

.sebenzaAboutBackground {
    background-image: url("images/sebenzaGost.png");
    height: 10%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
    position: relative;
}

.appText {
    border-radius: 5px;
    margin: 5px;
    border: 2px solid black;
    padding: 10px;
    background: rgba(69, 150, 151, 0.8);
    font-size: 18px;
    color: whitesmoke;
}

.calcBackground {
    background-image: url("images/sebenza6.png");
    height: 4000px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.infoSpaceFill {
    background-image: url("/images/InformationCentre.jpg");
    max-width: 100%;
    width: auto;
    height: 500px;
    padding: 20px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10;
}

.ourStaffSpaceFill {
    background-image: url("/images/ourStaffSpace.jpg");
    max-width: 100%;
    width: auto;
    height: 500px;
    padding: 20px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10;
    border-bottom: 5px solid #24464a;
}

.serviceSpaceFill {
    background-image: url("/images/service.jpg");
    max-width: 100%;
    width: auto;
    background-size: cover;
    height: 580px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10;
    border-bottom: solid 5px #24464a;
}

.AppSpaceFill {
    background-image: url("images/App.jpeg");
    max-width: 100%;
    width: auto;
    height: 500px;
    padding: 20px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10;
}

.aboutUsSpaceFill {
    background-image: url("images/aboutUsSpace.jpg");
    max-width: 100%;
    width: auto;
    height: 500px;
    padding: 20px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10;
}

.AboutUs {
    background: rgba(69, 150, 151, 0.7);
}

.affix {
    top: 20px;
}

.staff {
    text-decoration: none;
    border-radius: 6px;
    text-align: center;
    color: rgba(66, 66, 66, 1);
    margin: 15px;
    border: 3px solid #24464a;
    padding: 7px;
    box-shadow: 2px 5px 5px grey;
}

.staff .overlay3 {
    text-align: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    margin-top: 27%;
}

.staff:hover .overlay3 {
    display: block;
}

.staff .overlay3 {
    display: none;
}

.aboutUsFill {
    background: rgba(66, 66, 66, 0.7);
    border: 3px solid #81772f;
    border-radius: 5px;
    color: whitesmoke;
}

.navbar-default {
    background-image: none;
    background-color: white;
    border: none;
    box-shadow: none;
}

.navbar-nav > li > a {
    border-radius: 5px;
    color: white;
}

.content {
    background: rgba(69, 150, 151, 0.5);
    float: left;
    height: auto;
    border: 2px solid grey;
    max-height: 215px;
    width: 100%;
    overflow-y: auto;
    border-radius: 5px;
    padding: 0 1%;
    display: none;
}

.navbar-default .navbar-nav > li > a {
    margin: 5px;
    background: #fff; /* fallback color for old browsers */
    background: rgba(255, 255, 255, 0.5);
    color: #24464a;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px grey;
}

.navbar-default .navbar-nav > li > img {
    margin-right: 15px;
}

.navbar-default .navbar-nav > li > a:hover {
    border: 1px whitesmoke;
    color: rgb(130, 113, 59);
}

.headerImage {
    background: rgba(255, 255, 255, 0.6);
    margin: 7px;
    border-radius: 5px;

}

.overlay2 {
    border: 3px solid #24464a;
    padding: 5px;
    border-radius: 5px;
    background: rgba(66, 66, 66, 0.7);
    color: whitesmoke;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.overlay {
    text-align: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    margin-top: 27%;
}

#navbarHeaderHover:hover {
    background-color: whitesmoke;
}

#navbarHeaderHover:focus {
    background-color: whitesmoke;
}

#AboutUsHover:hover {
    background-color: #24464a;
}

#AboutUsHover:focus {
    background-color: #24464a;
}

#ServicesHover:hover {
    background-color: whitesmoke;
}

#ServicesHover:focus {
    background-color: whitesmoke;
}

#OurStaffHover:hover {
    background-color: #24464a;
}

#OurStaffHover:focus {
    background-color: #24464a;
}

.flip-container {
    perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateX(180deg);
}

.flip-container, .front, .back {

}

.flip-container .flipper {
    transform-origin: 100% /* half of height */
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    top: 0;
    left: 0;
}

.adminSortBtn{
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 1px;
    cursor: pointer;
    margin-right: 11px;
    position: relative;
    font-size: 14px;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateX(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateX(180deg);
}

#staffFilling {
    background-image: url("images/paperBackground.jpg");
    width: 100%;
    padding: 20px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10;
}

#AboutUsP {
    background-image: url("images/ripples.png");
    width: 100%;
    background-size: 100%;
    background-attachment: fixed;
    overflow: hidden;
    background-repeat: no-repeat;
    z-index: 10;
}

.sortBtn{
    border: 1px solid darkgray;
    border-radius: 3px;
    margin: 2px;
    padding: 2px;
    background-color: lightgray;
    cursor: pointer;
}

.sebenzaHeaderbck {
    background-image: url("/images/headerImage.jpg");
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
}

.img-border {
    background-color: gray;
    border: 1px solid black;
    border-radius: 5px;
}

.appBackground {
    background-image: url("/images/App.jpeg");
    max-width: 100%;
    width: auto;
    height: 500px;
    padding: 20px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10;
}

.modal-background {
    background-image: url("/images/sebenzaGost.png");
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
}

.glyphmove {
    top: -4px;
}

.text-container {
    background-color: whitesmoke;
    background-color: whitesmoke;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
}

.vertical-dot-nav {
    z-index: 1000;
}

.backdrop {
    opacity: 0.5;
    background: black;
}

.nav-stacked li a {
    position: relative;
    top: 4.7em;
}

.spacer1 {
    background-image: url("/images/spacer1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 100%;
    width: auto;
}

@media screen and (min-width: 949px) {
    .btn-separator:after {
        content: ' ';
        display: block;
        float: left;
        background-color: #82713b;
        margin: 0 7px;
        margin-top: 13px;
        height: 34px;
        width: 3px;
    }
}

@media screen and (max-width: 761px) {
    #logoHead {
        max-width: 150px;
        position: relative;
        display: block

    }
}

@media screen and (min-width: 760px) {
    #logoHead {
        display: none;
    }
}

@media screen and (max-width: 950px) {
    .btn-separator {
        display: none;
    }

}

.partner img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.col-md-4 img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

@media screen and (max-width: 1000px) {
    .logo {
        display: none;
    }
}