.sebenzaBackground{
    background-image: url("/images/sebenza7.png");
    height: 10%;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center center;
    z-index: 1;
    position: relative;
}

.moreButton{
    width: 100%;
    background: rgba(69, 150, 151, 0.8);
    color: white;
    border: 1px solid white;
}

.moreButton:hover{
    background: transparent;
    color: white;
    border: 1px solid #459697;
}

.moreButton2{
    width: 100%;
    background: rgba(69, 150, 151, 0.8);
    color: white;
    border: 1px solid #459697;
}

.moreButton2:hover{
    background: rgba(69, 150, 151, 0.5);
    color: white;
    border: 1px solid #459697;
}

.sebenzaAboutBackground{
    background-image: url("/images/sebenza7.png");
    height: 10%;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center center;
    z-index: 1;
    position: relative;
}

.appText{
    border-radius: 5px;
    margin: 5px;
    border: 2px solid black;
    padding: 10px;
    background: rgba(69, 150, 151, 0.8);
    font-size: 18px;
    color: whitesmoke;
}

.calcBackground{
    background-image: url("/images/sebenza6.png");
    height: 4000px;
    width: 100%;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: bottom right;
}

.ourStaffSpaceFill{
    background-image: url("/images/ourStaffSpace.jpg");
    max-width: 100%;
    width: auto;
    height: 500px;
    padding: 20px;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center center;
    z-index: 10;
}

.AppSpaceFill{
    background-image: url("/images/App.jpeg");
    max-width: 100%;
    width: auto;
    height: 500px;
    padding: 20px;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center center;
    z-index: 10;
}

.aboutUsSpaceFill{
    background-image: url("/images/aboutUsSpace.jpg");
    max-width: 100%;
    width: auto;
    height: 500px;
    padding: 20px;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center center;
    z-index: 10;
}

.AboutUs{
    background: rgba(69, 150, 151, 0.7);
}

.affix {
    top: 20px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-image: none;
    background-color: whitesmoke;
    box-shadow: none;
    border: 2px solid #b5a067;

}

.aboutUsFill{
    background: rgba(69, 150, 151, 0.7);
    border: 1px solid #459697;
    border-radius: 5px;
}

.navbar-default{
    background-image: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.navbar-nav > li > a{

    border: 2px solid #459697;
    color: white;
}

.content{
    background: rgba(69, 150, 151, 0.5);
    float: left;
    height: auto;
    border: 2px solid grey;
    max-height: 215px;
    width: 100%;
    overflow-y: auto;
    border-radius: 5px;
    padding: 0 1%;
    display: none;
}

.navbar-default .navbar-nav > li > a{
    display: block;
    box-sizing: border-box;
    margin: 5px;
    padding: 8px;
    background: #fff; /* fallback color for old browsers */
    background: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    color: #459697;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
    text-shadow: 1px 1px 1px grey;
}



#bs-example-navbar-collapse-1{
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid whitesmoke;
}

.headerImage{
    background: rgba(255, 255, 255, 0.6);
    margin: 7px;
    border-radius: 5px;

}

#navbarHeaderHover:hover{
    background-color: whitesmoke;
}

#navbarHeaderHover:focus{
    background-color: whitesmoke;
}

#AboutUsHover:hover{
    background-color: #459697;
}

#AboutUsHover:focus{
    background-color: #459697;
}

#ServicesHover:hover{
    background-color: whitesmoke;
}

#ServicesHover:focus{
    background-color: whitesmoke;
}

#OurStaffHover:hover{
    background-color: #459697;
}

#OurStaffHover:focus{
    background-color: #459697;
}

.background{
    background-image: url("/images/under-construction.jpg");
    height: 1000px;

}

#staffFilling{
    background-image: url("/images/paperBackground.jpg");
    width: 100%;
    padding: 20px;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center center;
    z-index: 10;
}

#AboutUsP{
    background-image: url("/images/ripples.png");
    width: 100%;
    background-size: 100%;
    background-attachment: fixed;
    overflow: hidden;
    background-repeat:no-repeat;
    z-index: 10;
}

#servicesFilling{
    background-image: url("/images/Lines2.png");
    width: 100%;
    padding: 20px;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center center;
    z-index: 10;
}

.profile1{
    background-image: url("/images/profileTest.png");
    background-repeat:no-repeat;
    background-position: center center;
    height: auto;
    max-height: 250px;
    background-size: 100% 100%;
    max-width: 100%;
    width: auto;
    z-index: 10;
}

.blue52{
    color: #459697;
}

.profile1:hover{
    background-image: url("/images/profileblue.png");
}

.sebenzaHeaderbck{
    background-image: url("/images/headerImage.jpg");
    height: 100%;
    background-attachment: fixed;
    background-repeat:no-repeat;
    width: 100%;
}

.appBackground{
    background-image: url("/images/App.jpeg");
    max-width: 100%;
    width: auto;
    height: 500px;
    padding: 20px;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center center;
    z-index: 10;
}

.modal-background{
    background-image: url("/images/sebenza7.png");
    height: 100%;
    background-attachment: fixed;
    background-repeat:no-repeat;
    width: 100%;
}

.glyphmove{
    top: -4px;
}

.text-container{
    background-color: whitesmoke;
    background-color: whitesmoke;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
}

#result{
    display: none;
}

.vertical-dot-nav{
    z-index: 1000;
}

body{
}

.backdrop{
    opacity: 0.5;
    background: black;
}

.nav-stacked li a{
    position: relative;
    top: 4.7em;
}

.spacer1{
    background-image: url("/images/spacer1.jpg");
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    max-width: 100%;
    width: auto;
}

.PageDevider{
    text-align: center;
    border-bottom: solid black;
    border-radius: 3px;
    opacity: 0.7;
    color: whitesmoke;
    text-shadow: black 2px 1px;
}

.hovereffect {
    width: 100%;
    height: 75%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #459697;
    border-radius: 5px;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
}

.hovereffect img {
    display: block;
    position: relative;
    border-radius: 5px;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.hovereffect h6 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
}

.hovereffect h6:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

.hovereffect:hover h6:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

<!-- our staff hover effect -->

.hovereffect2 {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.hovereffect2 .overlay2 {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 4.75em;
    border-radius: 5px;
    background: rgba(69, 150, 151, 0.8);
    color: #3c4a50;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

.hovereffect2 img {
    display: block;
    position: relative;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.hovereffect2:hover img {

}

.hovereffect2 h2 {
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    float: left;
    margin: 0px;
    display: inline-block;
}

.hovereffect2 a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
}
.hovereffect2 a.info:hover {
    box-shadow: 0 0 5px #fff;
}


.hovereffect2 p.icon-links a {
    float: right;
    color: #3c4a50;
    font-size: 1.4em;
}

.hovereffect2:hover p.icon-links a:hover,
.hovereffect2:hover p.icon-links a:focus {
    color: #252d31;
}

.hovereffect2 h2,
.hovereffect2 p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,200%,0);
    transform: translate3d(0,200%,0);
}

.hovereffect2 p.icon-links a span:before {
    display: inline-block;
    padding: 8px 10px;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.hovereffect2:hover .overlay2,
.hovereffect2:hover h2,
.hovereffect2:hover p.icon-links a {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.hovereffect2:hover h2 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.hovereffect2:hover p.icon-links a:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.hovereffect2:hover p.icon-links a:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.hovereffect2:hover p.icon-links a:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}